NODE_ENV=development
PORT=6004
CUSTOMER_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/customer_db?schema=public"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
SERVICE_INTERNAL_SECRET="your_service_internal_secret_key_32chars"
