NODE_ENV=development
PORT=3000
REDIS_URL="redis://localhost:6379"

JWT_ACCESS_SECRET="your_jwt_access_secret_min_32_characters_long_key"
SERVICE_INTERNAL_SECRET="your_service_internal_secret_key_32chars"

IDENTITY_SERVICE_URL="http://localhost:6001"
ORGANIZATION_SERVICE_URL="http://localhost:3002"
PEOPLE_SERVICE_URL="http://localhost:3003"
CUSTOMER_SERVICE_URL="http://localhost:3004"
BOOKING_SERVICE_URL="http://localhost:3005"
COMMERCE_SERVICE_URL="http://localhost:3006"
PAYMENT_SERVICE_URL="http://localhost:3007"
INVENTORY_SERVICE_URL="http://localhost:3008"
FINANCE_SERVICE_URL="http://localhost:3009"
COMMUNICATION_SERVICE_URL="http://localhost:3010"
PLATFORM_SERVICE_URL="http://localhost:3011"
REPORTING_SERVICE_URL="http://localhost:3012"
